@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif; */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.display-flex {
  display: flex;
}
.nav-buttons-flex-container {
  background-color: rgb(57, 59, 59);
  /*resize: horizontal; row can be resized by hand with bottom right arrow  */
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  margin: 1em;
  max-width: 1000px;
}
.two-columns-row {
  flex: 50%;
  max-width: 800px;
}
/* .four-columns-row {
  flex: auto;
} */
/*Link css*/
a.a-wiki-custom {
  color: #2378d8;
}
/*a:visited - a link the user has visited*/
a.a-wiki-custom:visited {
  color: blueviolet;
  text-decoration: solid;
}
a.a-wiki-custom:hover {
  color: rgb(226, 43, 195);
  text-decoration: underline;
}
a.a-wiki-custom:active {
  color: rgb(57, 228, 148);
  text-decoration: underline;
}
/*Link css ends*/

/* IMG CSS multiply max-width with 2.42 to keep espect ratio */
.img-aspect-ratio-kept {
  display: block;
  max-width: 1400px;
  max-height: 579px;
  width: auto;
  height: auto;
}
/* IMG CSS ends */

/*APP MEDIA QUERIES CSS */
@media screen and (max-width: 990px) {
  .display-flex {
    display: block;
  }
}
@media screen and (max-width: 555px) {
  .nav-buttons-flex-container {
    display: block;
    /* width: 100%; */
  }
  button.buttonBlue {
    /*set btn width in stream.css file from index.css */
    width: 100%;
  }
}

/* @media screen and (max-width: 500px) {
  .display-flex,
  .two-columns-row {
    display: flex;
    flex-wrap: wrap;
  }
} */
/*APP MEDIA QUERIES CSS ENDS*/

/* tables CSS*/
div {
  box-sizing: border-box;
}

.table-container-6 {
  font-size: 20px;
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 1200px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.flex-table {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
  border-radius: 5px 5px 5px 5px;
}
/* .flex-table:first-of-type { add  borders if u wish later
  border-top: solid 1px #000000;
  border-left: solid 1px #000000;
} */
.flex-table:first-of-type .flex-row-6 {
  background: rgb(66, 65, 65);
  color: white;
  border-color: rgb(45, 45, 45);
}
.flex-table.row:nth-child(odd) .flex-row-6 {
  background: #f4f2f1;
}
.flex-table:hover {
  /* transition: all 0.25s cubic-bezier(0.215, 0.61, 0.355, 1); */
  box-shadow: 30px 0 30px #c7c7c7;
  transform: scale(1.01, 1.05);
}

.flex-row-6 {
  width: calc(100% / 6);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

.rowspan {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  -webkit-box-align: start;
  align-items: flex-start;
  -webkit-box-pack: center;
  justify-content: center;
}

.column {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-flow: column wrap;
  width: 75%;
  padding: 0;
}
.column .flex-row-6 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: solid 1px #d9d9d9;
}
.column .flex-row-6:hover {
  background: #f5f5f5;
}
/*flex-cell used only nested cell structure*/
.flex-cell {
  width: calc(100% / 5);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
}

/*Table css ends */

/*extended css table w 10 columns */
.table-container-10 {
  font-size: 20px;
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 1610px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.flex-table:first-of-type .flex-row-10 {
  background: rgb(66, 65, 65);
  color: white;
  border-color: rgb(45, 45, 45);
}
.flex-table.row:nth-child(odd) .flex-row-10 {
  background: #f4f2f1;
}

.flex-row-10 {
  width: calc(100% / 10);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

.column .flex-row-10 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: solid 1px #d9d9d9;
}
.column .flex-row-10:hover {
  background: #f5f5f5;
}
/*extended css table w 10 columns  ends*/

/*extended css table w 3 columns */
.table-container-3 {
  font-size: 20px;
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 800px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.flex-table:first-of-type .flex-row-3 {
  background: rgb(66, 65, 65);
  color: white;
  border-color: rgb(45, 45, 45);
}
.flex-table.row:nth-child(odd) .flex-row-3 {
  background: #f4f2f1;
}

.flex-row-3 {
  width: calc(100% / 3);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

.column .flex-row-3 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: solid 1px #d9d9d9;
}
.column .flex-row-3:hover {
  background: #f5f5f5;
}
/*extended css table w 3 columns ends*/

/*extended css table w 2 columns*/
.table-container-2 {
  font-size: 20px;
  display: block;
  margin: 2em auto;
  width: 90%;
  max-width: 600px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.flex-table:first-of-type .flex-row-2 {
  background: rgb(66, 65, 65);
  color: white;
  border-color: rgb(45, 45, 45);
}
.flex-table.row:nth-child(odd) .flex-row-2 {
  background: #f4f2f1;
}

.flex-row-2 {
  width: calc(100% / 2);
  text-align: center;
  padding: 0.5em 0.5em;
  border-right: solid 1px #d9d9d9;
  border-bottom: solid 1px #d9d9d9;
}

.column .flex-row-2 {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-flow: row wrap;
  width: 100%;
  padding: 0;
  border: 0;
  border-bottom: solid 1px #d9d9d9;
}
.column .flex-row-2:hover {
  background: #f5f5f5;
}
/*extended css table w 2 columns ends*/

/*ALL  TABLES MEDIA QUERIES */
@media all and (max-width: 925px) {
  .flex-row-10 {
    width: calc(100% / 9);
  }
  .flex-row-10.first {
    width: 100%;
  }
}

@media all and (max-width: 767px) {
  .flex-row-6 {
    width: calc(100% / 5);
  }
  .flex-row-6.first {
    width: 100%;
  }

  .column {
    width: 100%;
  }

  .img-aspect-ratio-kept {
    max-width: 1100px;
    max-height: 458px;
  }
}
@media all and (max-width: 650px) {
  .flex-table .flex-row-10,
  .flex-table .flex-row-6,
  .flex-table .flex-row-3,
  .flex-table .flex-row-2 {
    border-bottom: 0;
  }
  .flex-table .flex-row-10:last-of-type,
  .flex-table .flex-row-6:last-of-type,
  .flex-table .flex-row-3:last-of-type,
  .flex-table .flex-row-2:last-of-type {
    border-bottom: solid 1px #d9d9d9;
  }

  .header .flex-row-10,
  .header .flex-row-6,
  .header .flex-row-3,
  .header .flex-row-2 {
    border-bottom: solid 1px;
  }

  .flex-row-10,
  .flex-row-6,
  .flex-row-3,
  .flex-row-2 {
    width: 100%;
  }
  .flex-row-10.first,
  .flex-row-6.first,
  .flex-row-3.first,
  .flex-row-2.first {
    width: 100%;
    border-bottom: solid 1px #d9d9d9;
  }

  .column {
    width: 100%;
  }
  .column .flex-row-10,
  .column .flex-row-6,
  .column .flex-row-3,
  .column .flex-row-2 {
    border-bottom: solid 1px #d9d9d9;
  }

  .flex-cell {
    width: 100%;
  }
  .img-aspect-ratio-kept {
    max-width: 750px;
    max-height: 310px;
  }
}
/*ALL  TABLES MEDIA QUERIES ENDS*/

/* WINDOWS DARK MODE WILL SWITCH SITE TO DARK AS WELL*/
/*  all classes that set elements background to white should be added here , and also to dark section*/
/*and make sure we add media queryes bellow the classes we want to override */
@media (prefers-color-scheme: light) {
  body {
    background: #f7f7f7;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background: #000000c0;
    color: #bdbbbb;
  }
  .flex-table.row:nth-child(odd) .flex-row-10,
  .flex-table.row:nth-child(odd) .flex-row-6,
  .flex-table.row:nth-child(odd) .flex-row-3,
  .flex-table.row:nth-child(odd) .flex-row-2 {
    background: #5f5f5f;
  }
  .flex-table:first-of-type .flex-row-10,
  .flex-table:first-of-type .flex-row-6,
  .flex-table:first-of-type .flex-row-3,
  .flex-table:first-of-type .flex-row-2 {
    background: #000000c0;
  }
}
/* WINDOWS DARK MODE css ends*/
